<!DOCTYPE html>
<html>
<!--
CollabNote is a minimalistic collaborative markdown text editor
License: AGPL v3, https://www.gnu.org/licenses/agpl-3.0.txt
Copyright (C) 2016 Alexander Barth, https://github.com/Alexander-Barth
-->
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <meta name="referrer" content="never" >
      <script type="text/javascript">
         var config = {{{config}}};
      </script>         
      <script type="text/javascript" src="client.js"></script>
      <script type="text/javascript" src="test_merge.js"></script>
      <script type="text/javascript" src="marked-0.3.6/js/marked.js"></script>
      <script type="text/javascript" async
        src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
      </script>
      <script type="text/javascript">
         window.onload = init;
      </script>
      <link rel="stylesheet" type="text/css" href="style.css">
      <link rel="stylesheet" type="text/css" href="github-markdown-css-2.4.1/css/github-markdown.css">

      <link rel="stylesheet" href="bootstrap-3.3.7/css/bootstrap.min.css" >
      <link rel="stylesheet" href="bootstrap-3.3.7/css/bootstrap-theme.min.css" >


      <title>CollabNote (a collaborative markdown text editor)</title>
   </head>
   <body>     
    {{{ body }}}

    <script src="js/jquery.min.js"></script>
    <script src="bootstrap-3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
   </body>
</html>

